<div class="header">
    <h1>Book Library</h1>
</div>
<nav class="nav">
    <a href="/">All Books</a>
    <a href="/books/genre/Science%20Fiction">Science Fiction</a>
    <a href="/books/genre/Fantasy">Fantasy</a>
    <a href="/books/genre/Dystopian">Dystopian</a>
    <a href="/books/genre/Cyberpunk">Cyberpunk</a>
</nav>
